@using MKEFishFries.Models
@model ChargeViewModel

@{
    ViewBag.Title = "DonationConfirmation";
}

<h2>DonationConfirmation</h2>
<p>Thank you for your donation, here is your confirmation ID number:</p>
<p>@Model.ChargeId</p>
