body {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid #dbdbdb;
}
